extends profile-base.pug
block content
  main
    .container-fluid
      .p-4
        h1.text-main-profile Change your profile
        form
          .modal-body.col-md-6
            .mb-3
              label.form-label(for='name') Change your name
              input#name.form-control(type='text')
            .mb-3
              label.form-label(for='email') Change your email
              input#email.form-control(type='email')
            .mb-3
              label.form-label(for='email') Sex
              select#sex.form-select.form-select.mb-5(aria-label='.form-select example')
                option(value='Woman') Select an option
                option(value='Woman') Woman
                option(value='Man') Man
              .form-check
                input#flexCheckDefault.form-check-input(checked='' type='checkbox')
                label.form-check-label.text-privacy(for='flexCheckDefault')
                  | Share my registration data with Spotify&apos;s content provides for
                  | marketing purposes.
            button.btn.btn-secondary.btn-set-profile.text-uppercase.px-5(type='submit')
              | Save profile