extends profile-base.pug
block content
  main
    .container-fluid
      .p-4
        h1.text-main-profile Change your password
        form#formChangePassword
          .modal-body.col-md-6
            .mb-3
              label.form-label(for='currentPassword') Current Password
              input#currentPassword.form-control(type='password' required='')
            .mb-3
              label.form-label(for='newPassword') New Password
              input#newPassword.form-control(type='password' required='')
              small.text-muted Minimum of 8 characters
            .mb-3
              label.form-label(for='repeatNewPassword') Repeat new password
              input#repeatNewPassword.form-control(type='password')
              .error2.mb-1
            button.btn.btn-secondary.btn-set-password.text-uppercase.px-5(type='submit' required='')
              | Set new password
            .wrapper-info.hidden
              .info