extends profile-base.pug
block content
  main
    .container-fluid
      .p-4
        h1.text-main-profile Change your password
        form
          .modal-body.col-md-6
            .mb-3
              label.form-label(for='currentPassword') Current Password
              input#currentPassword.form-control(type='text')
            .mb-3
              label.form-label(for='newPassword') New Password
              input#newPassword.form-control(type='email')
            .mb-3
              label.form-label(for='repeatNewPassword') Repeat new password
              input#repeatNewPassword.form-control(type='email')
            button.btn.btn-secondary.btn-set-profile.text-uppercase.px-5(type='submit')
              | Set new password