extends profile-base.pug
block content
  main
    .container-fluid
      .p-4
        h1.text-main-profile Account overview
        h2 Profile
        .m-3
          img.profile-photo.rounded-2(src=`../img/users/${photo}` alt='user')
        table.table.table-light.p-4.mb-5.col-4
          tbody
            tr
              td.p-2.td-info-table Username
              td.p-2.text-end.info-table-data= name
            tr
              td.p-2.td-info-table E-mail address
              td.p-2.text-end.info-table-data= email
            tr
              td.p-2.td-info-table Country
              td.p-2.text-end.info-table-data RU
        button.btn.btn-secondary.btn-set.text-uppercase
          | change your profile