footer.footer.p-2.mx-2
    ul.d-flex 
      li
        a.text-footer(href='https://github.com/scalette')
          img(src="/img/svg/github.svg", alt="icon")
      li
        span 2023         
      li
        a.text-footer(href='https://github.com/ViktoriyaKo')
          img(src="/img/svg/github.svg", alt="icon")
      li
        a(href="https://rs.school/js/").nav-link RS SCHOOL               
      li
        a.text-footer(href='https://github.com/valeriayan')
          img(src="/img/svg/github.svg", alt="icon")

      
