.player.d-flex.align-items-center.justify-content-between.p-3.text-light
  .song-bar.d-flex.align-items-center.col-md-4.col-11.gap-3
    .song-infos.d-flex.align-items-center.gap-3
      .image-container
        img.imgPlayer(src='/img/svg/logo_rs_text.svg' alt='album')
      .song-description
        a.title.text-light(href='') Song Name
        a.artist.text-grey(href='') Artist Name
    .icons.d-flex      
  .progress-controller.d-flex.flex-column.align-items-center.gap-2
    .control-buttons.d-flex.align-items-center.gap-4     
      svg.player-icon.play-prev(viewbox='0 -1 27 27' xmlns='http://www.w3.org/2000/svg')
        path#primary(d='M17.46,4.11a1,1,0,0,0-1,.07L8,10.08V3A1,1,0,0,0,6,3V21a1,1,0,0,0,2,0V13.92l8.43,5.9A1,1,0,0,0,17,20a1,1,0,0,0,.46-.11A1,1,0,0,0,18,19V5A1,1,0,0,0,17.46,4.11Z')
      .play-btn-player.d-flex.align-items-center.justify-content-center.rounded-circle.bg-light
      svg.player-icon.play-next(viewbox='0 -1 27 27' xmlns='http://www.w3.org/2000/svg')
        path#primary(d='M17,2a1,1,0,0,0-1,1v7.08L7.57,4.18a1,1,0,0,0-1-.07A1,1,0,0,0,6,5V19a1,1,0,0,0,.54.89A1,1,0,0,0,7,20a1,1,0,0,0,.57-.18L16,13.92V21a1,1,0,0,0,2,0V3A1,1,0,0,0,17,2Z')
      
    .progress-container.d-flex.align-items-center.gap-2.text-grey
      span 00:00
      .progress-bar.bg-grey
        .progress
      span.total-duration 3:34
  .other-features
    .volume-bar.d-flex.align-items-center
      svg.player-icon(viewbox='0 -70 500 500' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
        path(d='M361.299413,341.610667 L328.014293,314.98176 C402.206933,233.906133 402.206933,109.96608 328.013013,28.8906667 L361.298133,2.26304 C447.910187,98.97536 447.908907,244.898347 361.299413,341.610667 Z M276.912853,69.77216 L243.588693,96.4309333 C283.38432,138.998613 283.38304,204.87488 243.589973,247.44256 L276.914133,274.101333 C329.118507,215.880107 329.118507,127.992107 276.912853,69.77216 Z M191.749973,1.42108547e-14 L80.8957867,87.2292267 L7.10542736e-15,87.2292267 L7.10542736e-15,257.895893 L81.0208,257.895893 L191.749973,343.35424 L191.749973,1.42108547e-14 L191.749973,1.42108547e-14 Z')
      .progress-bar.bg-grey.volume-bar-container
        .progress.volume-bar-progress
