.player.d-flex.align-items-center.justify-content-between.p-3.text-light
  .song-bar.d-flex.align-items-center.col-md-4.col-11.gap-3
    .song-infos.d-flex.align-items-center.gap-3
      .image-container
        img.imgPlayer(src='/img/svg/logo_rs_text.svg' alt='album')
      .song-description
        a.title.text-light(href='') Song Name
        a.artist.text-grey(href='') Artist Name
    .icons.d-flex
      svg.changing-icon.heart-icon(xmlns='http://www.w3.org/2000/svg' fill='transparent' viewbox='-20 0 650 650' stroke-width='30' stroke='none')
        path(d='M459,19.28c-63.743,0-115.094,35.209-153.593,80.995C267.999,52.94,216.744,19.28,153,19.28\
        C63.227,19.28,0,96.469,0,180.638c0,45.154,18.494,77.686,38.747,108.229l237.781,285.078c26.699,25.033,31.729,25.033,58.427,0\
        l238.316-285.078C597.082,258.324,612,225.792,612,180.638C612,96.469,548.772,19.28,459,19.28z')
  .progress-controller.d-flex.flex-column.align-items-center.gap-2
    .control-buttons.d-flex.align-items-center.gap-4
      svg.play-shuffle.player-icon.changing-icon(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewbox='50 80 250 250' xml:space='preserve')
        g(transform='matrix(10.86 0 0 10.86 200 200)')
          path(transform=' translate(-12.21, -12)' d='M 17.5857864 18 L 17 18 C 15.0670171 17.9820312 13.8323189 17.4178969 12.7754822 16.1071521 C 13.1678375 15.5430536 13.5361529 14.9169672 13.8909426 14.2284294 C 14.7312903 15.5397262 15.5623613 15.9865721 17.0093097 16.0000433 L 17.5858172 16.0000308 L 16.2928932 14.7071068 L 17.7071068 13.2928932 L 21.4142136 17 L 17.7071068 20.7071068 L 16.2928932 19.2928932 L 17.5857864 18 Z M 17.5858172 7.99996921 L 17.0093097 7.99995666 C 14.98914 8.01876471 14.1694753 8.8823321 12.8489735 11.7638223 C 12.7005893 12.0884485 12.6216698 12.260889 12.5477909 12.4205132 C 10.7759025 16.2488903 8.96370516 17.9389258 5 18 L 3 18 L 3 16 L 4.98456341 16.0001192 C 7.99778944 15.9535997 9.24866011 14.7870513 10.7327652 11.5804646 C 10.8045503 11.4253643 10.8813338 11.257591 11.0308005 10.9306074 C 12.6437651 7.41092901 13.9561072 6.02829571 17 6 L 17.5857864 6 L 16.2928932 4.70710678 L 17.7071068 3.29289322 L 21.4142136 7 L 17.7071068 10.7071068 L 16.2928932 9.29289322 L 17.5858172 7.99996921 Z M 9.2967591 9.9151484 C 8.25385189 8.57493725 7.02213357 8.03133773 4.98456341 7.99988085 L 3 8 L 3 6 L 5 6 C 7.39017643 6.03682871 8.99800451 6.66599321 10.2864139 7.99918708 C 9.95038887 8.57240941 9.6245452 9.21039491 9.2967591 9.9151484 Z' stroke-linecap='round')
      svg.player-icon.play-prev(viewbox='0 -1 27 27' xmlns='http://www.w3.org/2000/svg')
        path#primary(d='M17.46,4.11a1,1,0,0,0-1,.07L8,10.08V3A1,1,0,0,0,6,3V21a1,1,0,0,0,2,0V13.92l8.43,5.9A1,1,0,0,0,17,20a1,1,0,0,0,.46-.11A1,1,0,0,0,18,19V5A1,1,0,0,0,17.46,4.11Z')
      .play-btn-player.d-flex.align-items-center.justify-content-center.rounded-circle.bg-light
      svg.player-icon.play-next(viewbox='0 -1 27 27' xmlns='http://www.w3.org/2000/svg')
        path#primary(d='M17,2a1,1,0,0,0-1,1v7.08L7.57,4.18a1,1,0,0,0-1-.07A1,1,0,0,0,6,5V19a1,1,0,0,0,.54.89A1,1,0,0,0,7,20a1,1,0,0,0,.57-.18L16,13.92V21a1,1,0,0,0,2,0V3A1,1,0,0,0,17,2Z')
      svg.player-icon.changing-icon(viewbox='2 0 24 24' xmlns='http://www.w3.org/2000/svg')
        path(d='M17.4181 4.41141H5.38812L7.26813 2.53141C7.55813 2.24141 7.55813 1.76141 7.26813 1.47141C6.97813 1.18141 6.49813 1.18141 6.20813 1.47141L3.04813 4.63141C2.97813 4.70141 2.92813 4.78141 2.88813 4.87141C2.84813 4.96141 2.82812 5.06141 2.82812 5.16141C2.82812 5.26141 2.84813 5.36141 2.88813 5.45141C2.92813 5.54141 2.97813 5.62141 3.04813 5.69141L6.20813 8.85141C6.35813 9.00141 6.54812 9.07141 6.73812 9.07141C6.92812 9.07141 7.11812 9.00141 7.26813 8.85141C7.55813 8.56141 7.55813 8.08141 7.26813 7.79141L5.38812 5.91141H17.4181C18.6581 5.91141 19.6681 6.92141 19.6681 8.16141V11.4814C19.6681 11.8914 20.0081 12.2314 20.4181 12.2314C20.8281 12.2314 21.1681 11.8914 21.1681 11.4814V8.16141C21.1681 6.09141 19.4881 4.41141 17.4181 4.41141Z')
        path(d='M21.1681 18.8395C21.1681 18.7395 21.1481 18.6395 21.1081 18.5495C21.0681 18.4595 21.0181 18.3795 20.9481 18.3095L17.7881 15.1495C17.4981 14.8595 17.0181 14.8595 16.7281 15.1495C16.4381 15.4395 16.4381 15.9195 16.7281 16.2095L18.6081 18.0895H6.57812C5.33812 18.0895 4.32812 17.0795 4.32812 15.8395V12.5195C4.32812 12.1095 3.98812 11.7695 3.57812 11.7695C3.16813 11.7695 2.82812 12.1095 2.82812 12.5195V15.8395C2.82812 17.9095 4.50813 19.5895 6.57812 19.5895H18.6081L16.7281 21.4695C16.4381 21.7595 16.4381 22.2395 16.7281 22.5295C16.8781 22.6795 17.0681 22.7495 17.2581 22.7495C17.4481 22.7495 17.6381 22.6795 17.7881 22.5295L20.9481 19.3695C21.0181 19.2995 21.0681 19.2195 21.1081 19.1295C21.1481 19.0395 21.1681 18.9395 21.1681 18.8395Z')
    .progress-container.d-flex.align-items-center.gap-2.text-grey
      span 00:00
      .progress-bar.bg-grey
        .progress
      span.total-duration 3:34
  .other-features
    .volume-bar.d-flex.align-items-center
      svg.player-icon(viewbox='0 -70 500 500' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
        path(d='M361.299413,341.610667 L328.014293,314.98176 C402.206933,233.906133 402.206933,109.96608 328.013013,28.8906667 L361.298133,2.26304 C447.910187,98.97536 447.908907,244.898347 361.299413,341.610667 Z M276.912853,69.77216 L243.588693,96.4309333 C283.38432,138.998613 283.38304,204.87488 243.589973,247.44256 L276.914133,274.101333 C329.118507,215.880107 329.118507,127.992107 276.912853,69.77216 Z M191.749973,1.42108547e-14 L80.8957867,87.2292267 L7.10542736e-15,87.2292267 L7.10542736e-15,257.895893 L81.0208,257.895893 L191.749973,343.35424 L191.749973,1.42108547e-14 L191.749973,1.42108547e-14 Z')
      .progress-bar.bg-grey.volume-bar-container
        .progress.volume-bar-progress
