extends base.pug
block content
  main
    .container-fluid
      .p-4
        .mb-5
          h3.text-uppercase.m-0
            a.text-ref-main(href='#') Recently Played
          .d-flex.align-items-center.justify-content-between
            small.text-muted Your choice
            a.text-muted(href='#') See more
          .row
            each category in categories
              .col-xxl-2.col-xl-3.col-md-4.col-sm-6
                a.main-card.p-3.rounded-2(href='#')
                  .wrapper-img
                    img(src=`${category.icons[0].url}` alt='album')
                    button.btn-play
                      svg.svg-play(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                        path(stroke-linecap='round' stroke-linejoin='round' d='M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z')
                  h4.mt-2= category.name
                  p.text-muted
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit.  
