extends base.pug
block content
  main
    nav.library-nav.d-flex.gap-4
      a#playlists.p-2.rounded(href='./playlists') Playlists
      a#artists.text-light.color-active.p-2.rounded(href='./artists') Artists
      a#albums.p-2.rounded(href='./albums') Albums
    div
      .row
        h3.col-12.py-4 Artists
      .row
        each artist in artists
          .col-xxl-2.col-xl-3.col-md-4.col-sm-6.mb-4
            a.main-card.p-3.rounded-2(href=`/artist/${artist.id}`)
              .wrapper-img
                img(src=`${artist.images[0].url}` alt='artists photo')
                button.btn-play
                  svg.svg-play(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' d='M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z')
              h4.mt-2= artist.name
              small.text-muted= artist.type